<!DOCTYPE html>
<p>  avatarar profile </p>
<head>
    <title> Choose you Avatar</title>
</head>

<body>
    <a href="/game"><button type="button">Ani</button></a>
    <a href="/game"><button type="button">Jennifer</button></a>
    <a href="/game"><button type="button">Judith</button></a>
    <a href="/game"><button type="button">Nayan</button></a>
    <a href="/game"><button type="button">Michaela</button></a>
</body>
</html>
