<!DOCTYPE html>
<body>
<div class="home-macbook-pro">
  <div class="home-frame-wrapper">
    <div class="home-frame">
      <div class="home-overlap-wrapper">
        <div class="home-overlap">
          <div class="home-rectangle"></div>
          <div class="home-terrain-terminator">TERRAIN TERMINATOR</div>
          <%= image_tag "terrain-terminator-logos-white-1-1.png", class:"home-img"%>
          <div class="home-div">
            <div class="home-group">
              <div class="home-overlap-group">
              <%= link_to "REGISTER", new_user_registration_path, class: "button" %>
              </div>
            </div>
            <div class="home-group">
              <%= link_to "SIGN IN", new_user_session_path, class: "button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<style>

.button {
  background-color: #97b032 !important;
  color: #16031c !important;
  border-radius: 20px;
  padding: 20px !important;
  font-weight: bold;
  font-family: "Alegreya Sans", Helvetica;
  font-size: 20px;
}

.button:hover {
  background-color: white !important;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
}

</style>