<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <div>
      <!-- Page header -->
      <h1 class="title">Terrain Terminators</h1>
      <h1 class="subtitle">Destroy the Earth</h1>
    </div>

    <div>
      <!-- Sign in link -->
      <%= link_to "SIGN IN", new_user_session_path, class: "sign-in-button" %>
    </div>

    <div>
      <!-- Sign up link -->
      <%= link_to "REGISTER", new_user_registration_path, class: "register-button" %>
    </div>
</body>
</html>
