.macbook-pro {
  background-color: #16031c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .frame-wrapper {
  background-color: #16031c;
  width: 1512px;
  height: 982px;
}

.macbook-pro .frame {
  position: relative;
  height: 982px;
  background-image: url(asset-path('rectangle-4.png'));
  background-size: cover;
  background-position: 50% 50%;
}

.macbook-pro .overlap-group-wrapper {
  position: absolute;
  width: 500px;
  height: 700px;
  top: 141px;
  left: 506px;
  border: 1px solid;
  border-color: transparent;
}

.macbook-pro .overlap-group {
  position: relative;
  height: 680px;
  top: 10px;
}

.macbook-pro .rectangle {
  position: absolute;
  width: 480px;
  height: 680px;
  top: 0;
  left: 10px;
  background-color: #16031c;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
  filter: blur(4px);
}

.macbook-pro .sign-up {

  font-family: "Roboto Condensed", Helvetica;
  font-weight: 500;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.sign-up:hover {
  color: white;

  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: #811cb133;
}

.macbook-pro .terrain-terminator {
  position: absolute;
  width: 500px;
  top: 13px;
  left: 0;
  font-family: "Alegreya Sans", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  letter-spacing: 0;
  line-height: 58.5px;
  white-space: nowrap;
}

.macbook-pro .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 180px;
  left: 93px;
}

.macbook-pro .rectangle-2 {
  
  position: relative;
  color: white;
  width: 313px;
  height: 40px;
  background-color: #811cb133;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
  text-align: center;
  // filter: blur(4px);
}

.macbook-pro .error-messages {
  color: red;
}

.macbook-pro .text-wrapper {
  color: #f9133d;
}

.macbook-pro .span {
  color: #ffffff;
}

.macbook-pro .p {
  position: absolute;
  width: 351px;
  top: 644px;
  left: 80px;
  font-family: "Roboto Condensed-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.macbook-pro .img {
  position: absolute;
  width: 209px;
  height: 113px;
  top: 70px;
  left: 145px;
  object-fit: cover;
}

.macbook-pro .sign-up-container {
  width: 313px;
  height: 46px;
  text-align: center;
}

.macbook-pro .overlap-wrapper {
  position: absolute;
  width: 367px;
  height: 435px;
  top: 281px;
  left: 60px;
}

.macbook-pro .overlap {
  position: relative;
  width: 299px;
  height: 400px;
  top: 14px;
  left: 33px;
  background-color: #16031c;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
  filter: blur(4px);
}

.macbook-pro .frame-2 {
  position: relative;
  width: 271px;
  height: 375px;
  top: 6px;
  left: 7px;
  overflow: hidden;
  overflow-y: scroll;
}

.macbook-pro .overlap-group-2 {
  position: absolute;
  width: 299px;
  height: 349px;
  top: 25px;
  left: -12px;
}

.macbook-pro .you-re-a-powerful {
  position: absolute;
  width: 265px;
  top: 42px;
  left: 18px;
  font-family: "Lexend Zetta", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
}

.macbook-pro .text-wrapper-2 {
  position: absolute;
  width: 299px;
  top: 0;
  left: 0;
  font-family: "Libre Barcode 39 Extended Text", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 39px;
}

.macbook-pro .welcome-commander {
  position: absolute;
  width: 265px;
  top: 4px;
  left: 6px;
  font-family: "Lexend Zetta", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
}

.macbook-pro .label{
  color: white;

}