.square-macbook-pro {
  background-color: #16031c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.square-macbook-pro .square-overlap-wrapper {
  background-color: #16031c;
  width: 1512px;
  height: 982px;
}

.square-macbook-pro .square-overlap {
  position: relative;
  height: 982px;
}

.square-macbook-pro .square-frame {
  position: absolute;
  width: 1512px;
  height: 982px;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url(asset-path('rectangle-4.png'));
  background-size: cover;
  background-position: 50% 50%;
}

.square-macbook-pro .square-overlap-group-wrapper {
  position: relative;
  width: 1262px;
  height: 900px;
  top: 84px;
  left: 128px;
}

.square-macbook-pro .square-overlap-group {
  position: relative;
  width: 1063px;
  height: 737px;
  top: 46px;
  left: 92px;
}

.square-macbook-pro .square-group-wrapper {
  position: absolute;
  width: 319px;
  height: 260px;
  top: 18px;
  left: 21px;
}

.square-macbook-pro .square-group {
  position: relative;
  width: 299px;
  height: 242px;
  top: 8px;
  left: 10px;
}

.square-macbook-pro .square-div {
  position: relative;
  width: 304px;
  height: 247px;
  top: -2px;
  left: -2px;
  border-radius: 20px;
}

.square-macbook-pro .square-alien {
  position: absolute;
  width: 298px;
  height: 240px;
  top: 4px;
  left: 4px;
  object-fit: cover;
  border-radius: 20px;
}

.square-macbook-pro .square-rectangle {
  width: 304px;
  height: 247px;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
  position: absolute;
  top: 0;
  left: 0;
}

.square-macbook-pro .square-overlap-2 {
  position: absolute;
  width: 1063px;
  height: 737px;
  top: 0;
  left: 0;
}

.square-macbook-pro .square-frame-2 {
  position: absolute;
  width: 367px;
  height: 435px;
  top: 285px;
  left: 0;
}

.square-macbook-pro .square-frame-wrapper {
  position: relative;
  width: 299px;
  height: 400px;
  top: 14px;
  left: 33px;
  background-color: #16031c;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
}

.square-macbook-pro .square-frame-3 {
  position: relative;
  width: 271px;
  height: 375px;
  top: 6px;
  left: 7px;
  overflow: hidden;
  overflow-y: scroll;
}

.square-macbook-pro .square-overlap-group-2 {
  position: absolute;
  width: 299px;
  height: 349px;
  top: 25px;
  left: -12px;
}

.square-macbook-pro .square-you-re-a-powerful {
  position: absolute;
  width: 265px;
  top: 42px;
  left: 18px;
  font-family: "Lexend Zetta", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
}

.square-macbook-pro .square-text-wrapper {
  position: absolute;
  width: 299px;
  top: 0;
  left: 0;
  font-family: "Libre Barcode 39 Extended Text", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 39px;
}

.square-macbook-pro .square-welcome-commander {
  position: absolute;
  width: 265px;
  top: 4px;
  left: 6px;
  font-family: "Lexend Zetta", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
}

.square-macbook-pro .square-div-wrapper {
  position: absolute;
  width: 713px;
  height: 737px;
  top: 0;
  left: 350px;
}

.square-macbook-pro .square-overlap-3 {
  position: relative;
  width: 675px;
  height: 675px;
  top: 23px;
  left: 20px;
  background-color: #16031c;
  border-radius: 20px;
  border: 5px solid;
  border-color: #97b032;
}

.square-macbook-pro .square-overlap-group-3 {
  position: absolute;
  width: 675px;
  height: 27px;
  top: 14px;
  left: 0;
}

.square-macbook-pro .square-x {
  position: absolute;
  width: 26px;
  height: 27px;
  top: 0;
  left: 635px;
  object-fit: cover;
}

.square-macbook-pro .square-frame-4 {
  display: flex;
  width: 675px;
  align-items: center;
  justify-content: center;
  gap: 55px;
  padding: 0px 40px;
  position: absolute;
  top: 4px;
  left: 0;
}

.square-macbook-pro .square-text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--instructions-font-family);
  font-weight: var(--instructions-font-weight);
  color: #ffffff;
  font-size: var(--instructions-font-size);
  letter-spacing: var(--instructions-letter-spacing);
  line-height: var(--instructions-line-height);
  white-space: nowrap;
  font-style: var(--instructions-font-style);
}

.square-macbook-pro .square-ai-image {
  position: absolute;
  width: 631px;
  height: 525px;
  top: 58px;
  left: 17px;
  object-fit: cover;
}

.square-macbook-pro .square-overlap-4 {
  position: absolute;
  width: 1000px;
  height: 62px;
  top: 600px;
  left: 35px;
}

.square-macbook-pro .square-img {
  width: 250px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 0;
}

.square-macbook-pro .square-enter-word {
  width: 223px;
  height: 30px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 14px;
  border-radius: 20px;
  border: 0;
  background: none;
  margin-left: -4.5px;
  margin-right: -4.5px;
  font-family: "Roboto Condensed", Helvetica;
  font-weight: 700;
  color: var(--variable-collection-grey);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.square-macbook-pro .square-terrain-terminator {
  position: absolute;
  width: 938px;
  top: 35px;
  left: 287px;
  font-family: "Alegreya Sans", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}
